*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    text-align: center;
    padding: 10px;
    background-color:#3a86ff;
    /* border: solid 2px rgb(0, 0, 0); */
    width: 350px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px #555;

}
h1{
    color: white;
}

.search-add{
    padding: 4px;
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
}


.search-add input{
    height: 60%;
    width: 65%;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
}
.search-add button{
    height: 60%;
    width: 30%;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(231, 104, 0);

}

.list{
    height: 150px;
    width: 260px;
    background-color: white;
    border-radius: 10px;
    overflow: auto;
    padding: 10px 3px;
   

}


.task-box{
    display:flex;
    justify-content: space-around;
    width: 96%;
    height: 25px;
    padding: 5px;
    align-items: center;
    
}

.task{
    width: 65%;
    height: 90%;
    border:solid 2px #3a86ff;
    padding: 2px;
    color:#3a86ff;
    border-radius: 5px;
}

.task-box button{
    width: 10%;
    height: 22px;
    border-radius: 3px;

    
}
.completed{
    background-color:white;
    color: green;
    border: solid 2px green;

}


.completed:focus{
    color: white;
   background-color: green;
}

.remove{
    font-size: 15px;
    color: red;
    background-color: white;
    border: solid red 2px;
}
.remove:hover{
    background-color: red;
    color: white;


}

.data{
    margin-top: 10px;
    height: 23px;
    background-color: white;
    padding:3px 5px;
    border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
   
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }




.dummy{
font-size: larger;
  }
.hidden{
    display:none;
}


